<center>
<h1>Medication List</h1>

<ul>
<% @medications.each do |medication| %>
    <li>
    <a href="/medications/<%= medication.id %>"><%= medication.medication_name %></a>
    </li>
    <% end %>
</ul>

</center>

<p><a href="/medications/new">Add a medication to your list!</a></p>
<p><a href="/logout">Logout</a></p>