Medications/New

<form action="/medications" method="post">
    <label for="medication">Medication</label>
    <input type="text" name="medication_name"/>

    <label for="class">Therapeutic Class</label>
    <input type="text" name="therapeutic_class"/>

    <label for="indication">Indication</label>
    <input type="text" name="indication"/>

    <label for="dose">Dose</label>
    <input type="text" name="dose"/>

    <label for="frequency">Frequency</label>
    <input type="text" name="frequency"/>

    <input type="submit" value="Submit">

</form>