<div class="Welcome">
  <center>
    <h2>Keep track of your medications!</h2>
    <p>This is an app that allows you to keep a log of your medications for easy referencing.</p><br>
    
    <h4>Existing account holders, please Log In to view your Medication Log.</h4><br>
      <form action="/login" method="post">
      <label for= "username">Username:</label>
      <input type="text" name="username"><br>

      <label for= "email">Email:</label>
      <input type="text" name="email"><br>

      <label for= "password">Password:</label>
      <input type="text" name="password"><br>

      <input type="submit" value="Log In">
  </form><br>


    <h3>New Client? Please Sign Up to create your Medication Log!</h3><br>
    <a href="/signup">Sign Up</a> 
  </center>
</div>
