<div class="Welcome">
  <center>
    <h2>Medication Tracker</h2>
    <p>This is an app that allows you to keep a log of your medications for easy referencing.</p><br>
    
    <h4>Existing account holders, please Log In to view your Medication Log.</h4><br>
    <a href="/login">Log In</a><br>


    <h4>New Client? Please Sign Up to create your Medication Log!</h4><br>
    <a href="/users/new">Sign Up</a><br> 
  </center>
</div>
